---
---
@import "minima";

div#m img {
  max-width: none !important;
}

.page-content {
  padding: 10px 0;
}

.metamorfity {
  border-top: 25px solid hsla(40, 100%, 50%, 0.2);
}

.sedimenty {
  border-top: 25px solid hsla(120, 100%, 50%, 0.2);
}

.magmatity {
  border-top: 25px solid hsla(0, 100%, 50%, 0.2);
}

.site-nav {
  line-height: 2;
}