<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content">
    <div class="wrapper">
        <div class="post">

            <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
            </header>

            <article class="post-content">

                {{ content }}

                <div>

                    <h2>Začátek</h2>

                    {{ page.begin }}

                    <h2>Konec</h2>

                    {{ page.end }}

                    <h2>Co se děje ve světě</h2>

                    {{ page.world }}

                    <h2>Co se děje u nás</h2>

                    {{ page.home }}

                    <h2>Život v archaiku</h2>

                    {{ page.live }}

                    <h2>Co nám z období archaika zůstalo</h2>

                    {{ page.relic | liquify | markdownify }}

                    {%- if page.see-water.size > 0 -%}
                    <h2>Mořské usazeniny</h2>

                    {{ page.see-water | liquify | markdownify }}
                    {%- endif -%}

                    {%- if page.water.size > 0 -%}
                    <h2>Sladkovodní usazeniny</h2>

                    {{ page.water | liquify | markdownify }}
                    {%- endif -%}

                    {%- if page.magmatic.size > 0 -%}
                    <h2>Vyvřelé horniny</h2>

                    {{ page.magmatic | liquify | markdownify }}
                    {%- endif -%}

                    {%- if page.metamorphic.size > 0 -%}
                    <h2>Horniny přeměněné</h2>

                    {{ page.metamorphic | liquify | markdownify }}
                    {%- endif -%}

                    {%- if page.fossil.size > 0 -%}
                    <h2>Fosílie organizmů</h2>

                    {{ page.fossil | liquify | markdownify }}
                    {%- endif -%}

                    {%- if page.deposit.size > 0 -%}
                    <h2>Ložiska nerostů</h2>

                    {{ page.deposit | liquify | markdownify }}
                    {%- endif -%}

                    {%- if page.periods.size > 0 -%}

                    <h2>Periody</h2>

                    {%- for period in page.periods -%}
                    <h3 id="{{ period }}">{{ period }}</h3>
                    {%- endfor -%}

                    {%- endif -%}

                </div>
            </article>
        </div>
    </div>
</div>

{% include footer.html %}

</body>

</html>
