<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content">
    <div class="wrapper">
        <div class="post">

            <header class="post-header">
                <h1 class="post-title">{{ page.order }} - {{ page.title }}</h1>
            </header>

            <article class="post-content">

                {{ content }}

                <div>
                    <h2>Z čeho jsem</h2>

                    {{ page.material }}

                    <h2>Můj příběh</h2>

                    {{ page.story }}

                    <h2>Jak mě využívají lidé</h2>

                    {{ page.usage }}

                    <h2>Odkud jsem</h2>
                    {{ page.location.text }}
                    <div id="m" style="height:400px;"></div>
                    <script>
                        var center = SMap.Coords.fromWGS84(15.3, 49.9);
                        var m = new SMap(JAK.gel("m"), center, 7);
                        m.addDefaultLayer(SMap.DEF_BASE).enable();
                        m.addDefaultControls();

                        var layer = new SMap.Layer.Marker();
                        m.addLayer(layer);
                        layer.enable();

                        var options = {};
                        var poi = SMap.Coords.fromJTSK({{ page.location.x }}, {{ page.location.y }});
                        var marker = new SMap.Marker(poi, "myMarker", options);
                        layer.addMarker(marker);
                    </script>
                </div>
            </article>
        </div>
    </div>
</div>

{% include footer.html %}

</body>

</html>
