<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content {{ page.type.name }}">
    <div class="wrapper">
        <div class="post">

            <header class="post-header">
                <h1 class="post-title">{{ page.order }} - {{ page.title }}</h1>
                {{ page.type.name }} - {{ page.type.description }}
            </header>

            <article class="post-content">

                {{ content }}

                <div>

                    <ul>
                        <li><a href="#foto">Foto</a>
                            <ul>
                                <li><a href="#foto-celkovy-pohled">Celkový pohled</a></li>
                                <li><a href="#foto-detail">Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="#geologicka-jednotka">Geologická jednotka, do níž patřím</a></li>
                        <li><a href="#z-ceho-jsem">Z čeho jsem</a></li>
                        <li><a href="#muj-pribeh">Můj příběh</a></li>
                        <li><a href="#jak-me-vyuzivaji-lide">Jak mě využívají lidé</a></li>
                        <li><a href="#geologicky-cas">Geologický čas</a></li>
                        <li><a href="#odkud-jsem">Mapa</a></li>
                        <li><a href="#podivej-se-take">Podívej se také</a></li>
                    </ul>

                    <h2 id="foto">Foto</h2>

                    <h3 id="foto-celkovy-pohled">Celkový pohled</h3>

                    <img src="/static/images/{{ page.order }}.JPG?nf_resize=fit&w=800"
                         srcset="
                            /static/images/{{ page.order }}.JPG?nf_resize=fit&w=400   400w,
                            /static/images/{{ page.order }}.JPG?nf_resize=fit&w=600   600w,
                            /static/images/{{ page.order }}.JPG?nf_resize=fit&w=800   800w,
                            /static/images/{{ page.order }}.JPG?nf_resize=fit&w=1000  1000w
                            ">

                    <h3 id="foto-detail">Detail</h3>

                    <img src="/static/images/{{ page.order }}-detail.JPG?nf_resize=fit&w=800"
                         srcset="
                            /static/images/{{ page.order }}-detail.JPG?nf_resize=fit&w=400   400w,
                            /static/images/{{ page.order }}-detail.JPG?nf_resize=fit&w=600   600w,
                            /static/images/{{ page.order }}-detail.JPG?nf_resize=fit&w=800   800w,
                            /static/images/{{ page.order }}-detail.JPG?nf_resize=fit&w=1000  1000w
                            ">

                    <h2 id="geologicka-jednotka">Geologická jednotka, do níž patřím</h2>

                    {{ page.category }}

                    <h2 id="z-ceho-jsem">Z čeho jsem</h2>

                    {{ page.material }}

                    <h2 id="muj-pribeh">Můj příběh</h2>

                    {{ page.story }}

                    <h2 id="jak-me-vyuzivaji-lide">Jak mě využívají lidé</h2>

                    {{ page.usage }}

                    <h2 id="geologicky-cas">Geologický čas</h2>
                    {%- for event in page.events -%}
                    <li>
                        {% assign label = event.geologic-period | split: '#' | last%}
                        {{ event.description }} - <a href="/geologicka-obdobi/{{ event.geologic-period }}">{{ label}}</a>
                    </li>
                    {%- endfor -%}

                    <a name="odkud-jsem"></a>
                    <h2 id="odkud-jsem">Odkud jsem</h2>
                    {{ page.location.text }}
                    <div id="m" style="height:400px;"></div>
                    <script>
                        var center = SMap.Coords.fromWGS84(15.3, 49.9);
                        var m = new SMap(JAK.gel("m"), center, 7);
                        m.addDefaultLayer(SMap.DEF_BASE).enable();
                        m.addDefaultControls();

                        var layer = new SMap.Layer.Marker();
                        m.addLayer(layer);
                        layer.enable();

                        var options = {};
                        var poi = SMap.Coords.fromJTSK({{ page.location.x }}, {{ page.location.y }});
                        var marker = new SMap.Marker(poi, "myMarker", options);
                        layer.addMarker(marker);
                    </script>

                    <h2 id="podivej-se-take">Podívej se také</h2>
                    {{ page.seeAlso | liquify| markdownify }}
                </div>
            </article>
        </div>
    </div>
</div>

{% include footer.html %}

</body>

</html>
